###############################################################################
#
# Under uv:
#     rm -r .venv/ pyproject.toml .python-version uv.lock
#     uv init
#     uv add -r requirements.txt
#
# On the RPi, this runs into a problem with pytqt6.  Work around is to use:
#     uv pip install -r requirements.txt
#
# This was how this used to work:
#     pip3 install -r requirements.txt
#
# but, in true linux fashion, it was broken in Python 3.11 - great jobs guys!
# Seems like python is regressing and getting more unstable instead of moving
# forward - without any apparent benefits!
#
# See README.md for how to install under virtual environment with either uv or miniconda
#
###############################################################################
#
# Also need the "libs" and "data" directories which are available in this
# repository.
# Set the PYTHONPATH environment variable to point to where "libs" is installed,
# e.g. for csh/tcsh:
#
#     setenv PYTHONPATH $HOME/Python/libs
#
###############################################################################

#pyqt5
#pyqt6
# This seems to mostly work except with pyqtgraph under uv.
# In the past, there was a bug that caused a gui program to hang on final
# but his seems to be fixed now
# There is a problem using PySide 6 with pyqtgraph but we're not doing that here
PySide6

matplotlib
pytz
pyserial
cartopy
psutil
requests

# From miniconda, also need these for some reason?!
#lxml
#cryptography
#attrs
#platformdirs
#requests-file
#requests-toolbelt
#beautifulsoup4
